@*model List<MyBlog.Model.Blog>*@
<blockquote class="layui-elem-quote">
	分类管理
</blockquote>
<div style="padding:10px;">
	<table class="layui-table">
		<tr>
			<td style="width:200px;vertical-align:top;">
				<ul id="tree1"></ul>
			</td>
			<td>
				<fieldset class="layui-elem-field layui-field-title">
					<legend>添加</legend>
					<div class="layui-form">
						<div class="layui-form-item">
							<label class="layui-form-label">上级</label>
							<div class="layui-input-inline" style="width:400px;height:38px;line-height:38px;">
								<span id="add_pname"></span>
								<button type="button" class="layui-btn layui-btn-xs" onclick="setTop()">清空</button>
							</div> 
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">名称</label>
							<div class="layui-input-inline">
								<input id="add_caname" type="text" class="layui-input"/>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">&nbsp;</label> 
							<div class="layui-input-inline">
								<button onclick="add()" type="button" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe654;</i>添加</button>
								<input type="hidden" id="add_pnumber" value="0" />
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset class="layui-elem-field layui-field-title">
					<legend>编辑</legend>
					<div class="layui-form">
						<div class="layui-form-item">
							<label class="layui-form-label">上级</label>
							<div class="layui-input-inline" style="height:38px;line-height:38px;">
								<select id="mod_pnumber" name="modpnumber">
									<option value="0">顶级分类</option>
									@foreach (MyBlog.Model.Category ca in ViewBag.calist)
									{
										<option value="@ca.ID">@ca.Name</option>
									}
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">名称</label>
							<div class="layui-input-inline">
								<input id="mod_caname" type="text" class="layui-input" />
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">&nbsp;</label>
							<div class="layui-input-inline">
								<button onclick="mod()" type="button" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe642;</i>编辑</button>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset class="layui-elem-field layui-field-title">
					<legend>删除</legend>
					<div class="layui-form">
						<div class="layui-form-item">
							<label class="layui-form-label">所选分类</label>
							<div id="del_title" class="layui-input-inline" style="height:38px;line-height:38px;">
								
							</div>
						</div>
					
						<div class="layui-form-item">
							<label class="layui-form-label">&nbsp;</label>
							<div class="layui-input-inline" onclick="del()">
								<button type="button" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon">&#xe640;</i>删除</button>
									<input type="hidden" id="del_id" value="0"/>
							</div>
						</div>
					</div>
				</fieldset>
			</td>
		</tr>
	</table>
</div>
<script>
	layui.use(function () 
	{
		var layer = layui.layer, $ = layui.jquery;
		var tree = layui.tree;
		var form = layui.form;
		// 模拟数据
		var data=@Html.Raw(ViewBag.nodejson);
		
		// 渲染
		// 渲染
		tree.render
		({
			elem: '#tree1',
			data: data,
			showLine: false,
			click:function(item)
			{
				console.log(item);
				$('#del_title').text(item.data.title);
				$('#add_pname').text(item.data.title); 
				$('#add_pnumber').val(item.data.id);
				$('#del_id').val(item.data.id);
				$('#mod_caname').val(item.data.title);
				$('#mod_pnumber').val(item.data.pnumber);
				form.render('select');
			}
			
		});
		
	});
	
	function del()
	{
		layui.use(['tree','layer'],function()
		{
			var layer=layui.layer,$=layui.jquery;
			var id=$('#del_id').val();
			
			if(id=="0")
			{
				console.log("请选择要删除的分类！");
				layer.msg("请选择要删除的分类！");
				return;
			}
			layer.confirm('是否确认删除?',function()
			{
				var url="/admin/blog/categoryDel/"+id;
				$.post(url,function(data)
				{
					layer.alert(data,function(){location.reload();})
				});

			})
		});
	}
	//设为顶级分类
	function setTop()
	{
		layui.use('layer',function()
		{
			var layer = layui.layer, $ = layui.jquery;
			$('#add_pname').text('');
			$('#add_pnumber').val("0");
			
		})
		
	}
	//添加分类
	function add()
	{
		layui.use(['tree', 'layer'], function () 
		{
			var layer = layui.layer, $ = layui.jquery;
			
			var pid=$('#add_pnumber').val();
			var caname=$('#add_caname').val();
			if(caname=='')
			{
				layer.msg("请输入新增分类名称！");
				return;
			}
			var postdata={pid:pid,caname:caname};
			var url="/admin/blog/categoryAdd";

			$.post(url,postdata,function(json)
			{
				console.log("postdata:"+postdata);
				if(json.status="y")
				{
					layer.alert(json.info,function()
					{
						location.reload();
					});
				}
				else
				{
					layer.alert(json.info);
				}
			},'json');
		});
	}
	
	//编辑
	function mod()
	{
		layui.use(['tree', 'layer'], function () {
			var layer = layui.layer, $ = layui.jquery;
			var caname=$('#mod_caname').val();
			var pid=$('#mod_pnumber').val();
			var id=$('#del_id').val();
			var url="/admin/blog/categoryMod";
			var postdata={pid:pid,caname:caname,id:id};
			$.post(url,postdata,function(json)
			{
				if(json.status=="y")
				{
					layer.alert(json.info,function()
					{
						location.reload();
					});
				}
			},'json');
		});
		
	}
</script>
