<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyBlog.Web</title>
    <link href="~/layui-v2.8.11/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.8.11/layui/layui.js"></script>
    <script src="~/tinymce/tinymce.min.js"></script>
    <script src="~/tinymce/langs/zh-hans.js"></script>
    <style>


        .layui-textarea {
            min-height: 300px;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
